/*video hero background*/

.main-content .videoBackground {
    margin-top: -55px;
  }
  .videoBackground {
    position: relative;
  }
  .videoBackground .fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .videoBackground .fullscreen-video-wrap .video-js {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .videoBackground .fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  .videoBackground .videoBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 100px 20px 125px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
        max-height: 800px;
        height: calc(100vh - 165px);
    position: relative;
  }
  .videoBackground .imageBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 100px 20px 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: calc(100vh - 165px);
    height: auto;
  }
  .videoBackground .videoBoxInfo, .videoBackground .imageBoxInfo {
    z-index: 2;
    text-align: center;
    padding: 4rem;
    width: 54.8rem;
    background-color: rgba(0,0,0,.5);
  }
  .videoBackground .overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #149c54;
    z-index: 1;
  }
  .videoBackground .videoBoxInfoBtn, .videoBackground .imageBoxInfoBtn {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 8px 15px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    white-space: normal;
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Montserrat-Medium', Arial, sans-serif;
  }
  .videoBackground .videoBoxInfoTitle, .videoBackground .imageBoxInfoTitle {
    color: #333;
    font-size: 5rem;
    line-height: 80px;
    letter-spacing: 1.3px;
    font-family: 'Sora-Medium', Arial, sans-serif;
    margin-bottom: 1rem;
  }
  .videoBackground .videoBoxInfoDescription, .videoBackground .imageBoxInfoDescription {
    max-width: 500px;
    margin: 0 auto;
  }
  .videoBackground .videoBoxInfoDescription p, .videoBackground .imageBoxInfoDescription p {
    font-family: 'Sora-Medium', Arial, sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .videoBackground .placeholderNoblocks {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
    @media screen and (max-width: 767px) {
    .main-content .videoBackground {
      margin-top: -35px;
    }
    .videoBackground .fullscreen-video-wrap {
      z-index: 3;
    }
    .videoBackground .videoBox {
            min-height: 500px;
            height: 100%;
            position: relative;
      padding: 0;
        }
    .videoBackground .fullscreen-video-wrap {
      position: relative;
      min-height: 300px;
    }
    .videoBackground .videoBoxInfo {
      padding: 40px 20px;
        background: #000;
      width: 100%;
    }
    }